<!DOCTYPE html>
<html lang="en"


>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta namr="viewport" content="width=device-width,initial-scale=1.0">
        <title>Contact Us</title>
        
        <link rel="stylesheet" href="ContactUs.css">
        
    </head>

<body>
<header>
    <div class="navigation">   
        <nav>  
            <img src="images/Subject.png" class="sub">
        <h1>Contact Us</h1>
    </nav> 
</div>
</header>

<section>   
    <div class="content">
        <span class= "icon1"><ion-icon name="call-outline"></ion-icon>  +6391234567891 </span> <br>
        <span class= "icon2"><ion-icon name="logo-facebook"></ion-icon></span>
       
     
    </div>
</section>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

</body>

</html>